.documents-management {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.document-block {
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 1200px;
  display: flex;
  flex-direction: column;
}

.block-header {
  background-color: #ffffff;
  padding: 15px;
  margin-top: 20px;
  text-align: center;
  font-weight: bold;
}

.table-management {
  color: black;
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 20px;
}

