<div class="for-lawyers-container">
  <h1>LawConnect</h1>
  <p>Nos complace presentarle una opción especialmente diseñada para abogados. Si usted es abogado de profesión, tendrá la oportunidad de colaborar y brindar asistencia a personas que necesiten servicios legales. Su experiencia y conocimientos serán de gran valor para aquellos que buscan orientación y apoyo en asuntos legales.</p>
  <div class="button-group">
    <button (click)="navigateTo('sign-up-lawyer')">Siguiente</button>
  </div>
</div>
